@use "../abstracts/abstracts" as *;

body {
  padding: 0;
  background-color: #013e72;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fefeff' fill-opacity='0.13' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.fondo {
  min-height: calc(100vh - 5rem);
  gap: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

// MODAL STARTS HERE //

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  display: flex;
  height: 300px;
  width: 500px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
  &:hover {
    color: #666;
  }
}

.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 80%;
}

.valores {
  font-size: 2rem;
  width: 25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  label {
    border-bottom: $borde;
  }
  input {
    padding: 1rem;
    border: $borde;
    font-weight: 600;
    width: 10rem;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.acumulador {
  display: flex;
  width: auto;
  border: $borde;
  border-radius: 1rem;
  .titulo {
    border: none;
    padding: 1rem;
    margin: 0;
  }
  .valorAcumulador {
    width: 10rem;
    border-left: $borde;
    padding: 1rem;
  }
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  height: 50rem;
  .seccionSalidas {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .formato {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .salida {
        scrollbar-width: none;
        overflow-y: scroll;
        overflow-x: scroll;
        display: flex;
        gap: 1rem;
        border: $borde;
        padding: 1rem;
        height: 19rem;
        width: 25rem;
        resize: none;
        &::-webkit-scrollbar {
          height: 1rem;
          width: 0;
          background: transparent;
        }
        &::-webkit-scrollbar-thumb:horizontal {
          background: #013e72;
          border-radius: 0.3rem;
        }
      }
    }
    .varnombre {
      width: auto;
      display: flex;
      align-items: flex-start;
    }
    .vartipo {
      width: 2rem;
    }
    .varvalor {
      width: auto;
    }
  }
  .mem {
    gap: 1rem;
    scrollbar-width: none;
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 1rem;
    height: 100%;
    border: $borde;
    width: 25rem;
    .linea {
      width: 2rem;
    }
    .iconoLinea {
      width: 2rem;
      color: #29c239;
    }
    .codigo {
      width: 20rem;
    }
    .lineacode {
      white-space: nowrap;
    }
    &::-webkit-scrollbar {
      height: 1rem;
      width: 0;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb:horizontal {
      background: #013e72;
      border-radius: 0.3rem;
    }
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aling-center {
  align-items: center;
}
.titulo {
  text-align: center;
  font-size: 2rem;
  border-bottom: $borde;
  font-weight: bold;
  margin-bottom: 1rem;
}
